# Place for for redefine general values
# If value should/can have suffix do not put it here.

# INSTALL PHASE

unattended_install:
    nfs_server = 10.34.73.3
    nfs_dir = /nfs/iso/avocado
    install_timeout = 3600

    # RHEL 7

    RHEL.7:
        unattended_file = unattended/RHEL-7-spice.ks

    RHEL.7.devel.x86_64:
        url="http://download.englab.brq.redhat.com/pub/rhel/rel-eng/latest-RHEL-7/compose/Workstation/x86_64/os"

    RHEL.7.1.x86_64:
        url="http://download-01.eng.brq.redhat.com/pub/rhel/released/RHEL-7/7.1/Workstation/x86_64/os/"

    # Should stay the last
    RHEL.7:
        kernel_params = "inst.ks=cdrom nicdelay=60 console=ttyS0,115200 console=tty0 inst.repo=${url}"

    # RHEL 6
    RHEL.6:
        unattended_file = unattended/RHEL-6-spice.ks

    RHEL.6.devel.x86_64:
        url="http://download.englab.brq.redhat.com/pub/rhel/rel-eng/latest-RHEL-6*/compose/Workstation/x86_64/os"

    RHEL.6.devel.i386:
        url="http://download.englab.brq.redhat.com/pub/rhel/rel-eng/latest-RHEL-6*/compose/Workstation/i386/os"

    RHEL.6.7.i386:
        url = http://download-01.eng.brq.redhat.com/pub/rhel/released/RHEL-6/6.7/Workstation/i386/os/

    RHEL.6.7.x86_64:
        url = http://download-01.eng.brq.redhat.com/pub/rhel/released/RHEL-6/6.7/Workstation/x86_64/os/

    RHEL.6.6.i386:
        url = http://download-01.eng.brq.redhat.com/pub/rhel/released/RHEL-6/6.6/Workstation/i386/os/

    RHEL.6.6.x86_64:
        url = http://download-01.eng.brq.redhat.com/pub/rhel/released/RHEL-6/6.6/Workstation/x86_64/os/


1vm..role-client:
    vms = client

1vm..role-guest:
    vms = guest

2vm:
    vms = client guest
