# All pip installable requirements pinned for Travis CI
inspektor
pep8
autopep8
dogtail
avocado-framework
git+git://github.com/avocado-framework/avocado-vt#egg=avocado-plugins-vt
selenium
aexpect
autotest==0.16.2
Pillow; python_version >= '2.7'
Pillow<3.5.0; python_version < '2.7'
zope.interface; python_version < '2.7'
